
.page.theme_dark {
  --bg-color: rgb(0, 0, 40);
  --accent-color: rgb(255, 0, 112);
  --title-color: rgb(219, 0, 255);
  --subtitle-color: rgb(255, 0, 112);
  --content-title-color: rgb(0, 0, 40);
  --text-color: rgb(241, 178, 206);
  --accent-text-color: rgb(0, 0, 40);
  --title-shadow-color: rgb(255, 0, 112);
  --text-shadow-color: rgb(255, 0, 112);
  --border-color: rgb(255, 0, 112);
  --decor-color: rgb(255, 0, 112);
  --botton-text-color: rgb(255, 0, 112);
  --border-link-color: rgb(241, 178, 206);
  --botton-hover-color: rgba(255, 0, 112, 0.4);
  background-image: url(../images/cover-image-dark.png);
}
