.theme_light {
  --accent-color: rgb(255, 141, 203);
  --h1-color: rgb(255, 194, 230);
  --text-color: rgb(241, 178, 206);
  --accent-text-color: rgb(53, 52, 48);
  --text-shadow-color: rgb(255, 0, 112);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgb(255, 141, 203);
    --h1-color: rgb(255, 194, 230);
    --text-color: rgb(241, 178, 206);
    --accent-text-color: rgb(53, 52, 48);
    --text-shadow-color: rgb(255, 0, 112);
  }

  .page.theme_light {
    background-image: url(../images/cover-image-light.png);
  }

  .page.theme_light .header__theme-menu-item {
    color: var(--accent-text-color);
  }

  .page.theme_light .header__theme-menu-button_active {
    border: 1px solid var(--accent-text-color);
    pointer-events: none;
  }

  .page.theme_light .rec-decoration {
    display: none;
  }

  .page.theme_light .decorated-zone::before {
    border-color: var(--accent-text-color);
  }

  .page.theme_light .decorated-zone::after {
    border-color: var(--accent-text-color);
  }

  .page.theme_light .header__title {
    color: var(--h1-color);
  }

  .page.theme_light .header__title-text {
    color: var(--accent-text-color);
  }

  .page.theme_light .section__title {
    color: var(--accent-text-color);
  }

  .page.theme_light .section__text-title {
    color: var(--accent-text-color);
  }

  .page.theme_light .section__text {
    color: var(--accent-text-color);
  }

  .page.theme_light .title-decor {
    background-color: var(--accent-color);
  }

  .page.theme_light .footer__decorated-zone::before {
    border-color: var(--accent-text-color);
  }

  .page.theme_light .footer__decorated-zone::after {
    border-color: var(--accent-text-color);
  }

  .page.theme_light .text-link {
    text-shadow: 2px 2px 0px var(--accent-color);
  }

  .text-link:hover {
    border-bottom: 1px solid var(--accent-text-color);
  }

  .text-link:focus-visible {
    outline: none;
    border: 1px solid var(--accent-text-color);
  }

  .page.theme_light .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .page.theme_light .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--accent-text-color);
  }
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__theme-menu-item {
  color: var(--accent-text-color);
}

.page.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--accent-text-color);
  pointer-events: none;
}

.page.theme_light .rec-decoration {
  display: none;
}

.page.theme_light .decorated-zone::before {
  border-color: var(--accent-text-color);
}

.page.theme_light .decorated-zone::after {
  border-color: var(--accent-text-color);
}

.page.theme_light .header__title {
  color: var(--h1-color);
}

.page.theme_light .header__title-text {
  color: var(--accent-text-color);
}

.page.theme_light .section__title {
  color: var(--accent-text-color);
}

.page.theme_light .section__text-title {
  color: var(--accent-text-color);
}

.page.theme_light .section__text {
  color: var(--accent-text-color);
}

.page.theme_light .title-decor {
  background-color: var(--accent-color);
}

.page.theme_light .footer__decorated-zone::before {
  border-color: var(--accent-text-color);
}

.page.theme_light .footer__decorated-zone::after {
  border-color: var(--accent-text-color);
}

.page.theme_light .text-link {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--accent-text-color);
}

.text-link:focus-visible {
  outline: none;
  border: 1px solid var(--accent-text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-text-color);
}
