.page.theme_light {
  --decor-color: rgb(52, 53, 48);
  --bg-color: rgb(255 241 247);
  --accent-color: rgb(255, 141, 203);
  --title-color: rgba(255, 194, 230);
  --subtitle-color: rgb(52, 53, 48);
  --content-title-color: rgb(52, 53, 48);
  --text-color: rgb(52, 53, 48);
  --accent-text-color: rgb(52, 53, 48);
  --title-shadow-color: rgb(255, 141, 203);
  --text-shadow-color: rgb(255, 141, 203);
  --border-color: rgb(52, 53, 48);
  --botton-text-color: rgba(53, 52, 48);
  --border-link-color: rgb(52, 53, 48);
  --botton-hover-color: rgba(50, 49, 45, 0.4);
  background-image: url(../images/cover-image-light.png);
}

.theme_light .rec-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --decor-color: rgb(52, 53, 48);
  --bg-color: rgb(255 241 247);
  --accent-color: rgb(255, 141, 203);
  --title-color: rgba(255, 194, 230);
  --subtitle-color: rgb(52, 53, 48);
  ---content-title-color: rgb(52, 53, 48);
  --text-color: rgb(52, 53, 48);
  --accent-text-color: rgb(52, 53, 48);
  --title-shadow-color: rgb(255, 141, 203);
  --text-shadow-color: rgb(255, 141, 203);
  --border-color: rgb(52, 53, 48);
  --botton-text-color: rgba(53, 52, 48);
  --border-link-color: rgb(52, 53, 48);
  --botton-hover-color: rgba(50, 49, 45, 0.4);
  }

  .rec-decoration {
    display: none;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
}