/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding: 10px;
  margin-bottom: 30px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
}

.rec-decoration {
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 10px;
  text-transform: uppercase;
  font-family: "IBM Plex Mono";
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.rec-decoration::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50px;
  margin-left: 10px;
  background-color: var(--decor-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-bottom: 2px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-self: center;
}

.header__title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  line-height: 96px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  align-self: center;
}

.header__title-text {
  align-self: center;
  justify-self: end;
  text-wrap: wrap;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23px;
  color: var(--accent-text-color);
  padding-right: 50px;
}

.title-decor {
  background-color: var(--accent-color);
}

.decorated-zone::before {
  content: "";
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: transparent;
  border: 1px solid var(--decor-color);
  border-bottom: 0;
  border-left: 0;
}

.decorated-zone::after {
  content: "";
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  color: transparent;
  border: 1px solid var(--decor-color);
  border-top: 0;
  border-right: 0;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  font-family: "IBM Plex Mono";
  color: var(--botton-text-color);
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.section__title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--h2-color);
  margin-bottom: 20px;
}

.section__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__text-block:not(:last-of-type) {
  margin-bottom: 20px;
}

.section__text-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  line-height: 23px;
  font-size: 18px;
  color: var(--h3-h4-color);
}

.section__text {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--text-color);
}

.content {
  padding: 10px ;
}

.main__content {
  margin-bottom: 50px;
}

.section__list-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  line-height: 23px;
  font-size: 18px;
  color: var(--accent-text-color);
  margin-bottom: 20px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__list-item-title {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  line-height: 23px;
  font-size: 18px;
  color: var(--accent-text-color);
}

.gallery {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 667px;
}

.footer__title {
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  line-height: 96px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-color);
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

.footer__decorated-zone::before {
  content: "";
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  color: transparent;
  border: 1px solid var(--decor-color);
  border-bottom: 0;
  border-left: 0;
  align-self: flex-end;
  padding: 20px 20px 0 0;
}

.footer__decorated-zone::after {
  display: flex;
  content: "";
  width: 25px;
  height: 25px;
  color: transparent;
  border: 1px solid var(--decor-color);
  border-top: 0;
  border-right: 0;
  align-self: flex-start;
  justify-self: end;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--text-shadow-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--border-color);
}

.text-link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

@media (768px <= width) {
  .rec-decoration {
    top: 20px;
    right: 30px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    min-block-size: 1024px;
    margin-bottom: 40px;
  }

  .header__title-text {
    grid-column: 2/3;
  }

  .content {
    padding: 20px;
  }

  .main__content-hardConcentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .section__text-block-dofamin {
    grid-column: 2 / auto;
  }

  .section__title-downConcentrate {
    width: 123px;
  }

  .section__how-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .section__title-goldfish {
    grid-row: 1/3;
  }

  .gallery {
    margin-top: 20px;
    margin-bottom: 30px;
    max-inline-size: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item {
    display: block;
    max-inline-size: 100%;
  }

  .gallery__image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-position: center;
    object-fit: cover;
  }

  .gallery__image-sunset {
    grid-column: 1/3;
  }

  .gallery__image-ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__image-tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .gallery__image-street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1/3;
    margin-left: -20px;
  }

  .main__content {
    margin-bottom: 80px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .page {
    inline-size: 1024px;
  }
  .header {
    min-block-size: 768px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    grid-row: 1/2;
    margin: 0;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title-text {
    padding-right: 0;
    align-self: center;
    margin-top: 15px;
  }

  .main__content-downConcentrate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .section__title-downConcentrate {
    grid-column: 1/4;
    width: 315px;
    margin-bottom: 0;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    position: absolute;
  }

  .gallery {
    margin-top: 20px;
  }

  .main__content-hardConcentrate {
    column-gap: 12px;
  }

  .section__how-concentrate {
    column-gap: 12px;
  }
}
